h1
{
    color:whitesmoke;
}
body{
    background-image: url('image.jpeg');
    background-repeat: no-repeat;
    background-attachment :fixed;
    background-size: cover;
}
b{
    color: white;
}
#orglink
{
    height:40px;
    width:400px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#shortlink
{
    font-size: medium;
}
#b1
{
    padding:10px 30px;
    color: white;
    background-color:rgb(55, 64, 227);
    border-radius: 4px;
}
#b1:hover{
    background-color:rgb(149, 23, 192);
}
